nav { 
    font-family:'Alethia Pro';
    text-align:center;
    background-color:cornflowerblue;
    margin: -20px;
    padding:30px;
}
body {
    background-image: url("image/rsz_2c_fv.jpg");
    background-position-y:-30px;
    padding:-50px;
   background-repeat:no-repeat;
    position:center;
}


form {
    
    
    font-family: 'Alethia Pro';
    text-align: center;
    margin: -20px;
    padding-top: 20px;
    padding-left: -3in;
    padding-right: 10in;
    padding-bottom: 15px;
}
fieldset {
    
    box-shadow:initial;
    border-color:antiquewhite;
    border-radius:10px;
    background-color: antiquewhite;
    opacity:0.77;
    padding-bottom: 1in;
}
/*label {
    display: inline-block;
    width: 140px;
    text-align: right;
    margin-bottom:25px;
}*/
.register form {
    max-width: 40rem;
}

.register .field {
    margin-bottom: 1rem;
}

.register label {
    display: block;
    text-align:left;
}

.register input {
    display: block;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
}
select {
    font-family:'Alethia Pro';
    width:100px;
    height:40px;
}


button {
    font-family: 'Alethia Pro';
    display: inline-block;
    border-radius: 4px;
    background-color: #6495ed;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

    .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
    }

.button:hover span {
    padding-right: 25px;
}

    .button:hover span:after {
        opacity: 1;
        right: 0;
    }
}
​